apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: default
type: Opaque
stringData:
  DB_ENDPOINT_TOKEN: {{ DATABASE_ENDPOINT }}
  DB_NAME_TOKEN: {{ db_name }}
  DB_USERNAME_TOKEN: {{ db_user }}
  DB_USERPASSWORD_TOKEN: {{ db_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: frontend-env-secret
  namespace: default
type: Opaque
stringData:
  DOMAIN_TOKEN: https://api.{{ MAIN_DOMAIN }}/
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: default
type: Opaque
stringData:
  admin-user: admin
  admin-password: {{ admin_password }}
