apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: default
type: Opaque
stringData:
  DB_NAME_TOKEN: {{ DATABASE_NAME }}
  DB_USERNAME_TOKEN: {{ DATABASE_USER }}
  DB_USERPASSWORD_TOKEN: {{ DATABASE_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: frontend-env-secret
  namespace: default
type: Opaque
stringData:
  DOMAIN_TOKEN: {{ DOMAIN }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: default
type: Opaque
stringData:
  admin-password: {{ admin_password }}
